body{
font-family: 'Montserrat', sans-serif;
line-height: 1.6;
-webkit-font-smoothing: antialiased;
color: #333; 
background-image:url(https://twi.kz/T4yx);
background-size: cover;              
background-color: #0a0a0a;            
min-height: 100vh;                    
margin: 0;
padding: 0;
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 40px;
    background:rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}
.header a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}
.header a:hover{
    color:#ff9f43;
}
.product-card {
    background-color:#1e1e1e;
    width: 300px;
    min-height: 400px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}
.favorite-section{
    max-width:1200px;
    margin:0 auto;
    padding:40px 20px;
}
.production-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
    color:#ff9f43;
}
.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.recipe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 17, 41, 0.8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.product-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.product-card:hover .recipe-overlay {
    opacity: 1;
}
.product-card:hover .product-img {
    transform: scale(1.1);
}
h1, h3 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
:root {
    --primary-color: #ff9f43; /* Твой фирменный оранжевый */
    --dark-bg: #1e1e1e;       /* Фон карточек */
    --text-main: #333333;      /* Цвет текста */
    --transition-speed: 0.3s; /* Скорость всех анимаций */
}
footer{
    text-align:start;
    background-color: rgb(80, 24, 24);
}
